body, html {
    font-family: 'Courier New', Courier, monospace;
}

a{
    text-decoration: none;
    color: black;
}
.head {
    display: flex;
    justify-content: space-between;
    margin-inline: 2%;
    margin-top: 2%;
}

.head-link {
    text-decoration: none;
    color: #666666;
}

.head-link:hover {
    color: #cd3f25;
}


.container {
    display: flex;
    height: 650px;
  
}

.render {
    image-rendering: pixelated;
}

.jean {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gray-fld {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 30%;
}

.yellow-fld {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position:absolute;
    top: 50%;
    left: 60%;
}

.black-fld {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position:absolute;
    top: 20%;
    left: 40%;
}

footer {
    position: absolute;
    margin-top: 2%;
    left:50%;
    transform: translate(-50%);
}

.row > .column {
    padding: o 8px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.pren,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: .6s ease;
    border-radius: p 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, .8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    pad: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: .6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: .3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}