body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: white;
    text-decoration: none;
    padding: 1%;
    font-size: .8125em;
    line-height: 1.1rem;
    margin: 1%;
}

p{
    color: white;
    text-align: center;
    font-size: 25px;
}