body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
    padding: 1%;
    font-size: .8125em;
    line-height: 1.1rem;
    margin: 1%;
}

.jean {
    height: auto;
    width: auto;
    max-width: 530px;
    max-height: 840px;
    float: right;
    transform: translateY(-8px);
}

.text {
    margin: 2%;
    margin-top: 1%;
}

.text p {
    letter-spacing: .50px;
    line-height: 15px;
    color: white;
    max-width: 950px;
    font-size: 14px;
}

.line {
    text-decoration: .50px line-through ;
}